# This is a basic workflow to help you get started with Actions

name: Build Deploy Simple Web Server

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:       
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: 'actions/checkout@v3'
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
       
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'
      
    - name: 'Submit to cloud build'
      run: |
        gcloud builds submit --tag gcr.io/smu-cs5346/simple-webserver
    - name: 'Deploy to Cloud Run'
      run: gcloud run deploy simple-webserver --image=gcr.io/smu-cs5346/simple-webserver:latest --region=us-central1 --allow-unauthenticated
